/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html, button, input, select, textarea{ color:#222}
body{ font-size:1em;  line-height:1.4}
::-moz-selection{ background:#996666;  text-shadow:none}
::selection{ background:#996666;  text-shadow:none}
hr{ display:block;  height:1px;  border:0;  border-top:1px solid #ccc;  margin:1em 0;  padding:0}
/*img{ vertical-align:middle}*/
fieldset{ border:0;  margin:0;  padding:0}
textarea{ resize:vertical}
.chromeframe{ margin:0.2em 0;  background:#ccc;  color:#000;  padding:0.2em 0}
body, html, p, img{ -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: #c3d9e6; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body { background:url(../images/body_bg.jpg) repeat-x center top #020c01; font:normal 14px/17px "CalibriRegular", Arial, Helvetica, sans-serif; }
#container { width:100%; margin:0 auto; padding:0; }
/*Header start*/
header{ padding:60px 0 0; position:relative; }
#caption{ width:231px; display:block; margin:0 auto 21px; text-align:center; position:relative; }
#banner{ width:292px; height:250px; margin:62px auto 0; }
#banner img{ width:100%; }
/*Content Start*/
#content{ width:100%; }
.get_started img{ width:28%; display:block; margin:106px auto 30px;  }
.get_started img:hover{ opacity:0.7; filter:alpha(opacity=70); /* For IE8 and earlier */  }
.share_pann{ font:normal 18px/24px "CalibriRegular", Arial, Helvetica, sans-serif; color:#02451e; background-color:inherit; padding:0 0 40px; }
.share_pann p{ font:normal 18px/18px "CalibriRegular", Arial, Helvetica, sans-serif; text-align:center; background:url(../images/share_txt_bg.png) no-repeat 49.4% center; padding:0; margin:0 0 13px; }
.fb_btn{  width:50px; height:60px; display:block; background:url(../images/facebook.png) no-repeat 0 0 ; margin:0 auto; text-indent:-200000px; }
.fb_btn:hover{ opacity:0.7; filter:alpha(opacity=70); /* For IE8 and earlier */ }
/*Footer Start*/
footer{ width:100%; background: url(../images/footer_bg.png) no-repeat center top #05632c; } 
footer ul{ padding:15px 0; margin:0; text-align:center; }
footer ul li{ width:28%; padding:0 2%; margin:0; display:inline-block; text-align:center; color:#fff; background-color:inherit; vertical-align:top; font:normal 12px/15px "CalibriRegular", Arial, Helvetica, sans-serif; word-wrap:break-word; }
footer ul li img{ display:block; margin:0 auto; }
footer ul li.list2 img{ margin:18px auto 27px;  }
footer ul li a{ color:#fff; background-color:inherit; }
footer ul li.list3{ text-align:left; }
footer ul li.list3 img{ float:left; margin:0 12px 0 0; }
footer ul li.list3 img.img{ margin:10px 0 0; }
footer ul li.list3 p{ padding:0 0 14px; margin:0; }
.app_txt{ width:162px; height:23px; margin:0 auto; background:url(../images/melon_head_app.png) no-repeat 0 0; display:block; text-indent:-200000px; position:absolute; top:133px; right:-19px; }
.content_inner{ width:86%; padding:4.6% 3%; margin:43px auto 106px; color:#fff; background-color:#0b9444; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
h2.step_txt{  font:normal 18px/30px "CalibriRegular", Arial, Helvetica, sans-serif !important;  color:#fff !important; background-color:inherit; margin-bottom:30px;  }
#photo-publish-box h2.step_txt{ margin-left:222px; }
h2.step_txt span{ width:100px; height:30px; margin:0 16px 0 0; float:left; display:block; background:url(../images/step_btn.png) no-repeat 0 0; text-align:center; color:#fff !important; background-color:inherit; font:18px/30px "CalibriRegular",Arial,Helvetica,sans-serif !important; }
#selector{ width:133px; height:316px; border:4px solid #fff; float:left;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; position:relative; } 
#selector img{ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
#selector img{ position:absolute; top:0; left:0; }
#selector #fpo-img{ top:16px; left:2px; }
#selector #body-img{ width:133px; }
#selector #helmet-img{ width:123px; top:0; left:5px; }
.content_rht{ /*width:70%; float:left;*/ margin:0 0 0 145px; }
#head-thumb-selector a, #body-thumb-selector a{ width:62px; height:62px; border:3px solid #cbd4da; float:left; margin:0 0 15px 14px; -webkit-box-shadow: #000 1px 0px 2px; -moz-box-shadow: #000 1px 0px 2px; box-shadow: #000 1px 0px 2px; }
#head-thumb-selector a:hover, #body-thumb-selector a:hover{ border:3px solid #2e2e2e; -webkit-box-shadow: #05b24d 0px 1px 2px; -moz-box-shadow: #05b24d 0px 1px 2px; box-shadow: #05b24d 0px 1px 2px; }
#head-thumb-selector img, #body-thumb-selector img{ width:62px; height:62px; border:none !important; }
#head-thumb-selector a img:hover, #body-thumb-selector a img:hover{ border:none !important; }
.continue_btn{ color:#595757; float:right; display:inline-block; padding:0 4px 0 8px; font:normal 18px/33px "CalibriRegular", Arial, Helvetica, sans-serif;  
background: #fefefe;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#cdcdcd));
background: -webkit-linear-gradient(#fefefe, #cdcdcd);
background: -moz-linear-gradient(#fefefe, #cdcdcd);
background: -ms-linear-gradient(#fefefe, #cdcdcd);
background: -o-linear-gradient(#fefefe, #cdcdcd);
background: linear-gradient(#fefefe, #cdcdcd);
-pie-background: linear-gradient(#fefefe, #cdcdcd);
-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  -webkit-box-shadow: #333 0px 0px 3px; -moz-box-shadow: #333 0px 0px 3px; box-shadow: #333 0px 0px 3px; 
 }
.continue_btn span{ padding:0 13px 0 0;  background-image:url(../images/arrow_btn.png); background-repeat: no-repeat; background-position:right center; }
.continue_btn:hover{ 
background: #fefefe;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#e2e2e2));
background: -webkit-linear-gradient(#fefefe, #e2e2e2);
background: -moz-linear-gradient(#fefefe, #e2e2e2);
background: -ms-linear-gradient(#fefefe, #e2e2e2);
background: -o-linear-gradient(#fefefe, #e2e2e2);
background: linear-gradient(#fefefe, #e2e2e2);
-pie-background: linear-gradient(#fefefe, #e2e2e2);
}
input[type=button].continue_btn, input[type=submit].continue_btn{ height:33px; border:none; padding:0 8px; font-size:14px; color:#000; text-transform:uppercase; }
ul.file_upload{ width:100%; text-align:center; padding:0; margin:0; }
ul.file_upload li{ width:188px; display:inline-block; margin:0 17px 20px; position:relative; line-height:35px; }
ul.file_upload li figure{ width:186px; height:153px;  overflow:hidden; border:1px solid #2f5f8b; display:block; margin:0 0 16px; }
ul.file_upload li .fb_link{ width:104px; height:31px; margin:0 auto; background:url(../images/facebook_btn.gif) no-repeat 0 0; display:block; text-indent:-200000px; }
ul.file_upload li .fb_link:hover{ opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */ }
.browse_btn{ width:188px; margin:0; background:url(../images/upload_btn.gif) no-repeat center bottom; position:relative; }
ul.file_upload li .browse_btn figure{ margin-top:0;   }
.browse_btn input{ width:104px; height:31px; opacity:0; margin:0 auto; display:block;  }
.browse_btn a{ color:#fff; background-color:inherit; font-size:17px;  line-height:31px; display:block; text-transform:uppercase; width:104px; height:31px; margin:0 auto; }
.choose_pic{ width:100%; overflow:hidden; padding:0; margin:0; }
.p-img{ width:83px; height:83px; overflow:hidden; float:left; margin:0 15px 15px 0; list-style:none; }
.choose_pic li figure{  width:83px; height:83px; overflow:hidden; }
.select{ width:138px; color:#707070;  font:normal 12px/18px "CalibriRegular", Arial, Helvetica, sans-serif;  }
.crop_frame{ float:left; margin:0 32px 20px 0; color:#333; background-color:#fff; overflow:hidden;  }
.orginal_pic{ width:200px; height:475px; float:left; margin-bottom:20px; overflow:hidden; }
.cropImg{ /*width:187px;*/ float:left; margin:0 32px 20px 0; }
.previewFrame{ width:200px; height:403px; float:left; position:relative; margin:30px 0 0; }
.previewFrame .helmet{ width:187px; height:237px; position:absolute; top:0; left:0; }
#preview-pane{ position:absolute; top:14px; left:41px;/* padding-top:60px; */ background-color:#fff; }
.hideImg{ width:250px; height:0; overflow:hidden; }

aside.aside{ width:151px; float:left; margin:42px 0 0; }
#publish-options{ margin:0 0 0 220px; }
#publish-options p, #publish-options span{ font:normal 14px/18px "CalibriRegular", Arial, Helvetica, sans-serif; color:#000; background-color:inherit; }
#ppane { height: 170px; padding: 15px; position:relative;  width: 170px; margin:30px 0 0; }
/*#preview-pane { height: 200px; left: 0; overflow: hidden; position: absolute; top: 0; width: 200px; }*/
#the-body { left: 0; position: absolute; top: -30px; }
#the-helmet { left: 5px; position: absolute; top: -30px; } 
.prevImg1{ top:68px !important; }
/* shiny green (inspired by rdio iphone interface)
*******************************************************************************/
.button-green {
	background-color: #69917a;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69917a), color-stop(50%, #245f3d), color-stop(50%, #02451e), color-stop(100%, #0f4f29));
	background-image: -webkit-linear-gradient(top, #69917a 0%, #245f3d 50%, #02451e 50%, #0f4f29 100%);
	background-image: -moz-linear-gradient(top, #69917a 0%, #245f3d 50%, #02451e 50%, #0f4f29 100%);
	background-image: -ms-linear-gradient(top, #69917a 0%, #245f3d 50%, #02451e 50%, #0f4f29 100%);
	background-image: -o-linear-gradient(top, #69917a 0%, #245f3d 50%, #02451e 50%, #0f4f29 100%);
	background-image: linear-gradient(top, #69917a 0%, #245f3d 50%, #02451e 50%, #0f4f29 100%);
	border-top: 1px solid #122a3b;
	border-right: 1px solid #122a3b;
	border-bottom: 1px solid #122a3b;
	border-left: 1px solid #122a3b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(60, 169, 105, 0.8);
	-moz-box-shadow: inset 0 0 2px 0 rgba(60, 169, 105, 0.8);
	box-shadow: inset 0 0 2px 0 rgba(60, 169, 105, 0.8);
	color: #fff;
	font-size:100%;
	line-height:14px;
	font-family:"CalibriRegular", Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0 0 10px;
	width: 100%;
	display:block;
	text-align:center;
	word-wrap:break-word; }
.button-green:hover {
	background-color: #70a084;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70a084), color-stop(50%, #246a41), color-stop(50%, #034e22), color-stop(100%, #10582d));
	background-image: -webkit-linear-gradient(top, #70a084 0%, #246a41 50%, #034e22 50%, #10582d 100%);
	background-image: -moz-linear-gradient(top, #70a084 0%, #246a41 50%, #034e22 50%, #10582d 100%);
	background-image: -ms-linear-gradient(top, #70a084 0%, #246a41 50%, #034e22 50%, #10582d 100%);
	background-image: -o-linear-gradient(top, #70a084 0%, #246a41 50%, #034e22 50%, #10582d 100%);
	background-image: linear-gradient(top, #70a084 0%, #246a41 50%, #034e22 50%, #10582d 100%);
	cursor: pointer; }
/* shiny blue (inspired by rdio iphone interface)
*******************************************************************************/
.button-blue {
	background-color: #859dbc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #859dbc), color-stop(50%, #5877a2), color-stop(50%, #486a9a), color-stop(100%, #4a6c9b));
	background-image: -webkit-linear-gradient(top, #859dbc 0%, #5877a2 50%, #486a9a 50%, #4a6c9b 100%);
	background-image: -moz-linear-gradient(top, #859dbc 0%, #5877a2 50%, #486a9a 50%, #4a6c9b 100%);
	background-image: -ms-linear-gradient(top, #859dbc 0%, #5877a2 50%, #486a9a 50%, #4a6c9b 100%);
	background-image: -o-linear-gradient(top, #859dbc 0%, #5877a2 50%, #486a9a 50%, #4a6c9b 100%);
	background-image: linear-gradient(top, #859dbc 0%, #5877a2 50%, #486a9a 50%, #4a6c9b 100%);
	border-top: 1px solid #122a3b;
	border-right: 1px solid #122a3b;
	border-bottom: 1px solid #122a3b;
	border-left: 1px solid #122a3b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	-moz-box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	color: #fff;
	font-size:100%;
	line-height:14px;
	font-family:"CalibriRegular", Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0 0 10px;
	width: 100%;
	display:block;
	text-align:center;
	word-wrap:break-word; }
.button-blue:hover {
	background-color: #91a9c9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91a9c9), color-stop(50%, #607fa9), color-stop(50%, #456ba1), color-stop(100%, #4f73a4));
	background-image: -webkit-linear-gradient(top, #91a9c9 0%, #607fa9 50%, #456ba1 50%, #4f73a4 100%);
	background-image: -moz-linear-gradient(top, #91a9c9 0%, #607fa9 50%, #456ba1 50%, #4f73a4 100%);
	background-image: -ms-linear-gradient(top, #91a9c9 0%, #607fa9 50%, #456ba1 50%, #4f73a4 100%);
	background-image: -o-linear-gradient(top, #91a9c9 0%, #607fa9 50%, #456ba1 50%, #4f73a4 100%);
	background-image: linear-gradient(top, #91a9c9 0%, #607fa9 50%, #456ba1 50%, #4f73a4 100%);
	cursor: pointer; }
#publish-options textarea{ width:99%; height:45px; padding:5px 0 0 5px; margin:0 0 15px; 	font-size:100%; line-height:18px; font-family:"CalibriRegular", Arial, Helvetica, sans-serif; }	
#fb-login p{ text-align:center; }
#fb-login-box{ width:154px; margin:0 auto; }
.save_photo{ float:left; width:200px; margin:42px 0 0; }
.save_photo img{ width:100%; }
#shout-out_counter{ color:#000; background-color:inherit; }
#photo-publish-box{   }
#contest_list{ border-collapse:collapse; }
 
.contest_btn {
	background: #507ab8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#507ab8), to(#3d6cac));
	background: -webkit-linear-gradient(#507ab8, #3d6cac);
	background: -moz-linear-gradient(#507ab8, #3d6cac);
	background: -ms-linear-gradient(#507ab8, #3d6cac);
	background: -o-linear-gradient(#507ab8, #3d6cac);
	background: linear-gradient(#507ab8, #3d6cac);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	-moz-box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	box-shadow: inset 0 0 2px 0 rgba(99, 187, 135, 0.8);
	border:1px solid #2b507d;
	color: #fff;
	font-size:100%;
	line-height:14px;
	font-family:"CalibriRegular", Arial, Helvetica, sans-serif;
	padding:8px 12px;
	margin:0 0 10px;
	display:inline-block;
	text-align:center;
	word-wrap:break-word; }
.contest_btn:hover {
	background: #6589be;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6589be), to(#3d6cac));
	background: -webkit-linear-gradient(#6589be, #3d6cac);
	background: -moz-linear-gradient(#6589be, #3d6cac);
	background: -ms-linear-gradient(#6589be, #3d6cac);
	background: -o-linear-gradient(#6589be, #3d6cac);
	background: linear-gradient(#6589be, #3d6cac);
	cursor: pointer; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 960px) {
.get_started img{ width:350px; }
}
@media screen and (max-width: 640px) { 
footer ul li.list1 img{ width:75%; }
footer ul li.list2 img{ width:100%; }
}
@media screen and (max-width: 480px) { 
.save_photo{ float:none; }
#publish-options{ margin:15px 0 0; }
#photo-publish-box h2.step_txt{ margin-left:0; }
#selector{ float:none; margin:0 auto; }
.content_rht{ margin:15px 0 0; }

}
@media screen and (max-width: 410px) { 
.get_started img{ width:320px; }
}
@media screen and (max-width: 320px) { 
.get_started img{ width:240px; }
}
@media screen and (max-width: 295px) { 
#banner{ width:85%;  margin:62px auto 0; }
#banner img{ width:100%; }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir{ background-color:transparent;  border:0;  overflow:hidden;  *text-indent:-9999px}
.ir:before{ content:"";  display:block;  width:0;  height:100%}
.hidden{ display:none !important;  visibility:hidden}
.visuallyhidden{ border:0;  clip:rect(0 0 0 0);  height:1px;  margin:-1px;  overflow:hidden;  padding:0;  position:absolute;  width:1px}
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus{ clip:auto;  height:auto;  margin:0;  overflow:visible;  position:static;  width:auto}
.invisible{ visibility:hidden}
.clearfix:before, 
.clearfix:after{ content:"";  display:table}
.clearfix:after{ clear:both}
.clearfix{ *zoom:1}
.spacer{ padding:0; margin:0; font-size:0; line-height:0; clear:both; }
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
*{ background:transparent !important;  color:#000 !important;  box-shadow:none !important;  text-shadow:none !important}
a, a:visited{ text-decoration:underline; outline:none; }
a[href]:after{ content:"("attr(href) ")"}
abbr[title]:after{ content:"("attr(title) ")"}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{ content:""}
pre, blockquote{ border:1px solid #999;  page-break-inside:avoid}
thead{ display:table-header-group}
tr, img{ page-break-inside:avoid}
img{ max-width:100% !important}
@page{ margin:0.5cm}
p, h2, h3{ orphans:3;  widows:3}
h2, h3{ page-break-after:avoid}
}