*{padding:0;margin:0;outline:none;}

body{
	background-image: url('../gfx/background.gif');
	font-family: 'Nunito', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
	color:#313131;
}

h2{
	
	text-transform:uppercase;
	font-size:18px;
	font-weight: normal;
}

img{
	display:block;
	border:none;
	-ms-interpolation-mode: bicubic;
}

a{
	color:#006cb6;
}

#splash{

	background-image: url('../gfx/splash-background-sm.png');
	background-repeat: no-repeat;
	width:538px;
	height:717px;
	
	margin: 0 auto;
	
	/* margin-top:25px; */
	position: relative;
	top:-15px;
	
	
}

#splash-click-through{
	position: absolute;
	top:30px;
	left:30px;
	width:465px;
	height:450px;
	
	
	
	cursor: hand;
	cursor: pointer;
}

#splash #splash-photo{
	
	position: absolute;
	
	top:53px;
	left:53px;
}

#splash #splash-photo-a{
	
	position: absolute;
	
	top:53px;
	left:47px;
	
	cursor: hand;
	cursor: pointer;
}

#splash #splash-photo-b{
	
	position: absolute;
	
	top:617px;
	left:47px;
}


/*
#splash-social-links{
	
	width:50px;
	height:200px;
	border:1px solid red;
	
}
*/

#s-fb-l{
	position: absolute;
	top:505px;
	left:334px;
}
#s-tw-l{
	position: absolute;
	top:545px;
	left:338px;
}
#s-yt-l{
	position: absolute;
	top:574px;
	left:332px;
}

/*
#splash-social-links img{
	float:left;
}
*/


#footer{
	width:553px;
	margin:0 auto;
	font-size:11px;
	text-align: center;
	
	margin-top:-20px;
}

#footer a{
	color:#006cb6;
}


#app-wrapper{
	background-image: url('../gfx/box-background-new.png');
	background-repeat: no-repeat;

	width:828px;
	height:806px;
	height:663px;
	/* height:819px; */
	
	margin: 0 auto;
	
	position: relative;
	
	/*
	position: relative;
	top:-15px;
	*/
}

#app{
	
	background-image: url('../gfx/header-bg.gif');
	
	width:721px;
	height:83px;
	
	position: absolute;
	
	left:53px;
	top:43px;
	
	/* border:1px solid red; */
}



#app-head img{
	position: absolute;
	
}


#siast-badge{
	top:17px;
	left:26px;
}

#wear-it-and-win{
	top:22px;
	left:518px;
}

#app-body{
	
	background-image: url('../gfx/gradient.gif');
	
	width:721px;
	height: 629px;
	height: 486px;
	/*
	position: absolute;
	*/
	position: relative;
	left:0px;
	top:81px;
	
	/* border:1px solid red; */
}

.step{
	position: relative;
	left:30px;
	top:45px;
}



#badge-box{
	position: relative;
	left:-10px;
	top:0px;
	
}




.next-btn{
	/*
position: absolute;
	left:510px;
*/
}



#badges{
	position: absolute;
	top:43px;
	left:32px;
}
#badges .badge{
	float:left;
	margin-right:45px;
	cursor: hand;
	cursor: pointer;
}



#type-box{
	padding-top:25px;
	padding-bottom:25px;
	width:550px;
	/* margin: 0 auto; */
}

#type-box img{
	display:inline;
	border:3px solid #eee;
	margin-right:30px;
}



#info-icon{
	clear: both;
}




.inner-box{
	width:750px;
	
	padding-top:15px;
	padding-bottom:15px;
}


#fb-photo-box{

	width:690px;
	
	padding-top:25px;
	padding-bottom:25px;
	
	/*
	height: 150px;
	overflow-x: scroll;
	overflow-y: hidden;
	*/
	
	position: relative;
	
}


#fb-photo-box img{
	
	
	/*float:left;
	margin-right: 20px;
	margin-bottom: 20px;*/
	
	
	
}

.p-img{
	
	width:75px;
	height: 75px;
	overflow: hidden;
	
	vertical-align: middle;
	
	border: 1px solid #FFF;
	float:left;
	margin-right:20px;
	margin-bottom: 20px;
	
	background-color: #000;
}

.p-img img{
	max-width:105px;
}

#photo-album-nav{
	background-color:#FFF;
	width:649px;
	margin-bottom:25px;
	height:15px;
	padding:5px;
	color:#006cb6;
	font-size: 11px;
}
#photo-album-nav a{
	text-decoration: none;
}


/*
#fb-photo-box .polaroid{
	position: absolute;
}
*/




/*
#app .border{
	display:block;
}
*/










#preview-pane{
	
	
		
	width:200px;
	height:200px;
	
	overflow:hidden;
	
	position:absolute;
	top:0px;
	left:0px;

	
}



#ppane{
	/* background-image: url('../gfx/preview-background.png'); */
	
	
	
	position:absolute;
	width:200px;
	height:200px;
	left:390px;
	top:70px;
	
	/* border: 1px solid red; */
	padding:15px;
	width:170px;
	height:170px;
}




/*

#preview-pane{
	
	
		
	width:200px;
	height:200px;
	
	overflow:hidden;
	
	position:absolute;
	top:17px;
	left:17px;
	
}

#ppane{
	background-image: url('../gfx/preview-background.png');
	
	position:absolute;width:232px;height:232px;left:390px;top:147px;
}
*/









#the-badge{
	position:absolute;
	top:114px;
	left:111px;
	
	left:96px;
	top:96px;
	
	cursor: move;
}








#type-box img{
	cursor: hand;
	cursor: pointer;
}



.info-copy{
	font-size: 13px;
}



#save-photo-btn{

	position: absolute;
	left:417px;
	top:284px;
}








#publish-options{

	position: absolute;
	top:42px;
	left:235px;
	
}


.data{
	position: relative;
	top:20px;
}


#fblike{
	
	width:140px;
	margin:0 auto;
	margin-top:20px;
	padding-bottom:20px;
}

#social-links{
	/*position: relative;
	top:5px;
	left:-10px;
	*/
	position: absolute;
	left:50px;
	top:350px;
}

#social-links img{
	display: inline;
	position: relative;
	top:10px;
	margin-right:15px;
}

#up-errors{
	background-color:#f68080;
	border:2px solid #FFF;
	width:450px;
	margin-top:15px;
	padding:3px;
}
