* {
	margin:0;
	padding:0;
	outline:none;
}
body {
	background-color: #000;
	background-image: url('../gfx/stadium-background.jpg');
	background-repeat: repeat-x;
	/*
 -webkit-background-size: cover;
		 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
*/

	
	/* font-family: Impact,Helvetica,Arial; */
	/* font-family: 'Bevan', serif; */
	font-family: 'helvetica', 'arial';
	font-size:14px;
	color:#000;
	padding:0 0 12px;
}
textarea {
	font-family: 'helvetica', 'arial';
	font-size:14px;
}
img {
	-ms-interpolation-mode: bicubic;
}
img {
	border:none;
}
h2 {
	font-size:18px;
	line-height: 24px;
	letter-spacing: 1.5px;
	font-weight:normal;
}
a {
	color:#FFF;
	text-decoration: none;
}
strong {
	color:#FFF;
	text-transform: uppercase;
	font-weight:normal;
}
#header {
	width:792px;
	margin:0 auto;/* margin-top:20px; */
}
#footer {
	width:792px;
	height:118px;
	margin:0 auto;
}
img {
	display:block;
}
#container {
	width:792px;
	margin:0 auto;
	background-image: url('../gfx/middle.png');
	background-repeat: repeat-y;
	min-height:450px;
}
#wrapper {
	width:700px;
	position: relative;
	left:35px;
	top:15px;
}
#selector {
	height:270px;
	overflow:hidden;
	border:4px solid #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	width:133px;
	left:60px;
	top:40px;
}
#selector img {
	position: absolute;
	top:0px;
	left:0px;
}
#selector #body-img {
	width:133px;
}
#selector #helmet-img {
	left:5px;
	top:0px;
	width:123px;
}
#selector #fpo-img {
	left:2px;
	top:16px;
}
#helmet-right {
	position: absolute;
	left:590px;
	top:90px;
}
#body-right {
	position: absolute;
	left:590px;
	top:230px;
}
#helmet-left {
	position: absolute;
	left:167px;
	top:130px;
}
#body-left {
	position: absolute;
	left:167px;
	top:300px;
}
#splash {
	background-image: url('../gfx/pad-line.jpg');
	background-repeat: no-repeat;
	width:721px;
	height:420px;
}
#choose-method, #fb-photos {
	background-image: url('../gfx/pad.jpg');
	background-repeat: no-repeat;
	width:721px;
	height:420px;
}
#splash h2 {
	width:350px;
	position: absolute;
	top:40px;
	left:240px;
	text-align: left;
}
h2 {
	position: absolute;
	top:35px;
	left:0px;
	width:729px;
	/* border:1px solid red; */
	text-align: center;
}
#crop-photo h2 {
	position: absolute;
	top:35px;
	left:35px;
	width:729px;
	text-align: left;
}
#splash #save-options {
	position: absolute;
	top:350px;
	left:553px;
}
#choose-method #type-box {
	position: absolute;
	top:100px;
	left:163px;
}
#choose-method #type-box img {
	float:left;
	margin-right:65px;
}
.inner-box {
	position: absolute;
	top:80px;
	left:40px;
	/* border:1px solid red; */
	width:640px;
}
#fb-photos .inner-box {
	left:50px;
}
.p-img {
	width:75px;
	height: 75px;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #FFF;
	float:left;
	margin-right:13px;
	margin-bottom: 13px;
	background-color: #000;
}
.p-img img {
	max-width:105px;
}
#photo-album-nav {
	background-color:#FFF;
	width:387px;
	/* margin-bottom:25px; */
	height:15px;
	padding:5px;
	padding-top:8px;
	color:#006cb6;
	font-size: 11px;
	position: absolute;
	top:282px;
	left:270px;
}
#photo-album-nav a {
	text-decoration: none;
	color:#000;
}
#photo-publish {
	height: 600px;
}
#photo-publish h2 {
	position: absolute;
	top:5px;
	left:270px;
	width:729px;
	text-align: left;
}
#photo-publish-box {
	top:0px;
	left:35px;
}
#publish-options {
	position: absolute;
	left:235px;
	top:45px;
	font-size:15px;
	line-height: 24px;
	letter-spacing: 1.2px;
	font-weight:normal;
}
#crop-photo {
	height: 626px;
	width:724px;
	background-image: url('../gfx/large-pad.jpg');
	background-repeat: no-repeat;
}
#crop-photo .data {
	position: relative;
	top: 97px;
	left: 35px;
}
#preview-pane {
	width:200px;
	height:200px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	/*padding-top:60px;*/
}
#ppane {
	/* background-image: url('../gfx/preview-background.png'); */
	position:absolute;
	left:450px;
	/* !NOTE */
	top:125px;
	/* border: 1px solid red; */
	padding:0;
	width:200px;
	height:475px;
}
#preview-pane img { /* width:auto !important; height:auto !important;*/
	/*margin-left:0 !important;
	margin-top:0 !important;*/
}
/* !TEST */
/*
#preview{
	position: absolute;
	top:25px;
	left:0px;
}
*/


/*

#preview-pane{
	
	
		
	width:200px;
	height:200px;
	
	overflow:hidden;
	
	position:absolute;
	top:17px;
	left:17px;
	
}

#ppane{
	background-image: url('../gfx/preview-background.png');
	
	position:absolute;width:232px;height:232px;left:390px;top:147px;
}
*/









#the-helmet {
	position:absolute;
	left:5px;
	top:-30px;/* cursor: move; */
}
#the-body {
	position:absolute;
	left:0px;
	top:-30px;/* cursor: move; */
}
#type-box img {
	cursor: hand;
	cursor: pointer;
}
.info-copy {
	font-size: 13px;
}
#save-photo-btn {
	position: absolute;
	left:478px;
	top:27px;
}
.footnote {
	color:#1e1e1e;
	width:600px;
	text-align: left;
	display:block;
	font-size:13px;
	position: absolute;
	left:115px;
	top:440px;
	font-weight:bold;
}
#head-thumb-selector {
	position: absolute;
	top:90px;
	left:240px;
	width:450px;
}
#head-thumb-selector img {
	float:left;
	margin-right:10px;
	border:2px solid #FFF;
}
#body-thumb-selector {
	position: absolute;
	top:190px;
	left:240px;
	width:450px;
}
#body-thumb-selector img {
	float:left;
	margin-right:10px;
	border:2px solid #FFF;
}
#splash-intro {
	width:864px;
	margin: 0 auto;
	margin-top:0px;
	position: relative;
}
#shout-out {
	width:350px;
	height:70px;
}
#shout-out_counter {
	font-size:12px;
}
#splash-intro #web-link {
	position: absolute;
	left:285px;
	top:647px;
}
#splash-intro #social-links {
	position: absolute;
	left:650px;
	top:545px;
}
#splash-intro #social-links img {
	float: left;
	margin-right: 3px;
}
#upload-photo h2 {
	left:30px;
	position: absolute;
	text-align: left;
}
#upload-photo .info-copy {
	left:30px;
	top:60px;
	position: absolute;
	text-align: left;
}
#upload-photo-box {
	left:30px;
	margin-top:10px;
}
#upload-photo {
	background-image: url('../gfx/pad-line.jpg');
	background-repeat: no-repeat;
	width:721px;
	height:420px;
}
#up-errors {
	position: absolute;
	left:30px;
	top:130px;
	width:400px;
	text-align:center;
	color:red;
	background-color:#FFF;
	display:inline;
	padding:10px;
}
.content_inner {
	padding:30px 50px 0;
}
#content_tbl {
	width:90% !important;
	height:450px !important;
	margin:0 auto;
}
#content_tbl tr td {
	vertical-align:top;
}
.spacer {
	font-size:0;
	line-height:0;
	clear:both;
}
.content_inner {
	position:relative;
}
#update_btn {
	/*position:absolute;
	bottom:-39px;
	left:48px;*/
}
.links {
	padding:0;
	margin:0 0 20px;
}
.links li {
	float:left;
	list-style:none;
	padding:0 0 0 12px;
	margin:0 0 0 12px;
	border-left:1px solid #ccc;
	font-size:12px;
	line-height:14px;
}
.links li:first-child {
	border:none;
	padding:0;
	margin:0;
}
.links li a {
	color:#fff;
	background-color:inherit;
}
.links li a:hover {
	color:#ccc;
	background-color:inherit;
}
.login_box {
	width:206px;
	margin:0 auto;
	position:relative;
}
.login_box #update_btn {
	left:auto;
	bottom:auto;
	position:relative;
}
.msg_box p {
	font-size:12px;
	line-height:16px;
	color:#fff;
	background-color:inherit;
	padding:0 0 3px;
	font-style:italic;
}
.login_box input[type=text], .login_box input[type=password] {
	width:90%;
	height:20px;
	display:block;
	margin:3px 0 0;
	padding:0 10px;
	font-size:12px;
	line-height:20px;
}
.submit, input[type="submit"], input[type="button"] {
	padding:0 15px;
	font-size:14px;
	line-height:25px;
	font-family:Verdana, Geneva, sans-serif;
	height:25px;
	color:#333;
	background-color:#fff;
	border:none;
	cursor:pointer;
	margin:0 0 10px;
}
.submit:hover, input[type="submit"]:hover, input[type="button"]:hover {
	color:#333;
	background-color:#ccc;
}
#contest_list{ width:100%; border-collapse:collapse; border-color:#fff; }
#contest_list tr td{ padding:8px 5px; border-color:#fff; }
#contest_list tr td strong{ font-weight:bold; }


.cropImg{ width:280px; float:left; margin:80px 32px 0 20px; }

.previewFrame{ width:200px; height:475px; float:left; position:relative; margin:110px 0 0 22px; }
.previewFrame .helmet{ width:187px; height:237px; position:absolute; top:0; left:0; }
#preview-pane{ position:absolute; top:14px; left:41px;/* padding-top:60px; */ background-color:#fff; }
.hideImg{ width:0; }
#footer{ position:relative; }
#footer img{ position:absolute; top:0; left:0; z-index:1; }
.footnote{ z-index:999; left:220px; }
.deignBy{ font-size:12px; color:#fff; background-color:inherit; display:block; position:absolute; left:30px; bottom:-88px; }
.deignByHome{ font-size:12px; color:#fff; background-color:inherit; display:block; text-align:center; padding:8px 0 0;}
	